[user]
	name = kiyodori
	email = kiyodori@yahoo.co.jp
[core]
	editor = vim -f
[alias]
	co = checkout
	st = status
	br = branch
	sw = switch
[merge]
	ff = false
[pull]
	rebase = merges
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
